#location_results {
    background-color: #eee;
    border: 1px solid #ccc;
    .maps {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 400px;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        img {
            max-width: inherit !important
        }
    }
}

.coop-form {
    .form-req, .error {
        color: red;
    }
    label:not(.form-check-label) {
        font-weight: bold;
    }
}

.btn-primary {
    background-color: $primary !important;
    &:hover {
        background-color: darken($primary ,10%) !important;
    }
}

.large-button {
    &:hover {
        opacity: 0.4 !important;
    }
}

.form-check {
    display: inline-block !important;
    margin-right: 1em;
}

.far {
    color: black;
}

#fare_savings {
    font-weight: bolder;
    color: $secondary;
    font-size: 1.75em;
}
.fare-disclaimer {
    font-size: 12px !important;
    line-height: 1 !important
}

#coop {
    background: lighten(#dee2e6, 10%);
}