// Variables
$checkmark-width-left: 15px;
$checkmark-width-right: 30px;
$checkmark-position-top: 37px;
$checkmark-position-left: 25px;
$animation-speed: .3s;
// Wrapper

.check-wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid $primary;
    position: relative;
    overflow: hidden;
    animation: check-wrap $animation-speed ease-in-out forwards;
    animation-delay: .3s;
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    // Checkmark
    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: white;
        width: 0;
        height: 5px;
        transform-origin: left;
        animation-duration: $animation-speed;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    &::before {
        top: $checkmark-position-top;
        left: $checkmark-position-left;
        transform: rotate(45deg);
        animation-name: check_left;
        animation-delay: 0.8s;
    }

    &::after {
        top: $checkmark-position-top + 10px;
        left: $checkmark-position-left + 8px;
        transform: rotate(-45deg);
        animation-name: check_right;
        animation-delay: 1.1s;
    }
}

// Animation wrapper
@keyframes check-wrap {
    0% {
        background-color: transparent;
        transform: scale(0);
    }

    100% {
        background-color: $primary;
        transform: scale(1);
    }
}

// Checkmark keyframe mixin
@mixin checkmark($name, $width) {
    @keyframes #{$name} {
        0% {
            width: 0;
        }

        100% {
            width: $width;
        }
    }
}

// Checkmark keyframes
@include checkmark(check_left, $checkmark-width-left);
@include checkmark(check_right, $checkmark-width-right);