// Variables
$crossmark-width: 30px;
$animation-speed: .3s;
// Wrapper

.cross-wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
    overflow: hidden;
    animation: cross-wrap $animation-speed ease-in-out forwards;
    animation-delay: .3s;
    transform: scale(0);
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: white;
        width: 0;
        height: 5px;
        animation-duration: $animation-speed;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    &::before {
        transform: rotate(45deg);
        animation-name: cross_left;
        animation-delay: 0.8s;
    }

    &::after {
        transform: rotate(-45deg);
        animation-name: cross_right;
        animation-delay: 0.8s;
    }
}

// Animation wrapper
@keyframes cross-wrap {
    0% {
        background-color: transparent;
        transform: scale(0);
    }

    100% {
        background-color: red;
        transform: scale(1);
    }
}

// Checkmark keyframe mixin
@mixin cross($name, $width) {
    @keyframes #{$name} {
        0% {
            width: 0;
        }

        100% {
            width: $width;
        }
    }
}

// Checkmark keyframes
@include cross(cross_left, $crossmark-width);
@include cross(cross_right, $crossmark-width);